@font-face {
  font-family: titlefont;
  src: url("../assets/font/font.ttf"); }
#navigator {
  background-color: #db4520;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  min-width: 1200px;
  height: 112px;
  border-bottom: 1px solid #ad3214;
  line-height: 1.5; }
  #navigator .left {
    display: flex;
    flex-flow: row;
    margin: 16px 0 16px 84px; }
    #navigator .left .title_container {
      margin: 8px 0 0 12px;
      color: #fff;
      font-family: 'MicrosoftYaHei'; }
      #navigator .left .title_container .school_name {
        font-size: 14px;
        font-family: titlefont; }
      #navigator .left .title_container .org_name {
        font-size: 16px;
        margin-top: 2px;
        font-family: titlefont; }
      #navigator .left .title_container .alias_name {
        font-size: 12px;
        margin-top: 2px;
        font-family: titlefont; }
  #navigator .right {
    margin: 0 84px 0 0;
    line-height: 112px; }
    #navigator .right .nav {
      margin: 0; }
      #navigator .right .nav .nav_item {
        float: left;
        position: relative;
        list-style-type: none; }
        #navigator .right .nav .nav_item:hover .lists {
          opacity: 1;
          transform: translate(0, 0); }
        #navigator .right .nav .nav_item li {
          list-style: none;
          cursor: pointer; }
        #navigator .right .nav .nav_item a {
          color: #fff;
          text-decoration: none;
          display: block;
          font-size: 20px;
          margin: 0 25px 0; }
          #navigator .right .nav .nav_item a.active {
            color: #0b1a23; }
          #navigator .right .nav .nav_item a:hover {
            color: #0b1a23; }
        #navigator .right .nav .nav_item .lists {
          transition: opacity 0.5s, transform 0.5s;
          padding: 0;
          position: absolute;
          transform: translate(0, -20%);
          top: 100%;
          width: 100%;
          opacity: 0;
          z-index: 9999;
          text-align: center;
          background: #db4520;
          color: #fff; }
          #navigator .right .nav .nav_item .lists li {
            height: 60px;
            line-height: 60px; }
            #navigator .right .nav .nav_item .lists li a {
              height: 100%;
              margin: 0; }
  #navigator .exit {
    color: white;
    font-size: 14px;
    cursor: pointer; }
    #navigator .exit:hover {
      color: black; }
    #navigator .exit a {
      color: white;
      text-decoration: none; }

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 1280px; }

#warning {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  background-color: #6a6d6f;
  border-radius: 10px;
  padding: 0px 60px;
  color: white;
  opacity: 0;
  cursor: pointer;
  will-change: opacity;
  transition: opacity 1s ease-out; }
  #warning.active {
    opacity: 1; }

body {
  background-color: #f1f1f1;
  height: auto; }

.container {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: flex-start; }
  .container #sidebar {
    min-width: 130px;
    width: 20%;
    margin: 0;
    background-color: #525256; }
    .container #sidebar .lists {
      background-color: #525256;
      width: 100%;
      color: #feffff;
      margin: 0;
      padding: 0;
      text-align: center; }
      .container #sidebar .lists .item {
        list-style-type: none;
        height: 81px;
        box-sizing: border-box;
        padding: 25px 0;
        border-bottom: 1px solid #7d8586; }
        .container #sidebar .lists .item a {
          color: #feffff;
          font-size: 28px;
          text-decoration: none;
          font-weight: 300; }
        .container #sidebar .lists .item.active {
          background-color: #7d8586; }
  .container input, .container .selector {
    height: 40px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 100%;
    font-size: 20px;
    box-sizing: border-box; }
  .container #review {
    position: relative;
    transform: translate(0, 0);
    width: 60%;
    margin: 60px 0 0 10%;
    display: flex;
    flex-flow: column; }
    .container #review .breadcrumb {
      color: #db4520;
      font-size: 30px;
      display: flex;
      flex-flow: row;
      justify-content: flex-start; }
      .container #review .breadcrumb .arrow {
        width: 48px;
        height: 48px;
        display: inline-block;
        margin-right: 30px;
        cursor: pointer;
        background-image: url("../assets/imgs/BE_view/arrow.png");
        background-repeat: no-repeat; }
    .container #review .title, .container #review .info, .container #review .otherInfo {
      font-size: 24px;
      color: #373737;
      display: flex;
      flex-flow: row;
      align-items: center; }
    .container #review .title {
      margin-top: 55px; }
      .container #review .title span {
        flex: 80px; }
    .container #review .info, .container #review .otherInfo {
      margin-top: 16px; }
    .container #review .info {
      display: flex;
      flex-flow: row; }
      .container #review .info .author, .container #review .info .img_author, .container #review .info .department {
        width: 32%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: flex-start; }
      .container #review .info .img_author {
        box-sizing: border-box;
        margin: 0 2%;
        width: 36%; }
        .container #review .info .img_author span {
          min-width: 120px; }
      .container #review .info span {
        min-width: 73px; }
    .container #review .otherInfo {
      display: flex;
      flex-flow: row; }
      .container #review .otherInfo .newsType, .container #review .otherInfo .mainBody {
        width: 50%;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        box-sizing: border-box; }
        .container #review .otherInfo .newsType span, .container #review .otherInfo .mainBody span {
          min-width: 120px; }
        .container #review .otherInfo .newsType.active::before, .container #review .otherInfo .mainBody.active::before {
          display: none; }
        .container #review .otherInfo .newsType.active::after, .container #review .otherInfo .mainBody.active::after {
          display: block; }
        .container #review .otherInfo .newsType::before, .container #review .otherInfo .mainBody::before {
          content: '';
          position: absolute;
          z-index: 9999;
          cursor: pointer;
          top: 40%;
          right: 20px;
          width: 0px;
          height: 0px;
          border-bottom: 10px solid rgba(0, 0, 0, 0);
          border-right: 10px solid rgba(0, 0, 0, 0);
          border-top: 10px solid #db4520;
          border-left: 10px solid rgba(0, 0, 0, 0); }
        .container #review .otherInfo .newsType::after, .container #review .otherInfo .mainBody::after {
          display: none;
          content: '';
          position: absolute;
          z-index: 9999;
          right: 20px;
          cursor: pointer;
          top: 10%;
          width: 0px;
          height: 0px;
          border-top: 10px solid rgba(0, 0, 0, 0);
          border-right: 10px solid rgba(0, 0, 0, 0);
          border-bottom: 10px solid #db4520;
          border-left: 10px solid rgba(0, 0, 0, 0); }
        .container #review .otherInfo .newsType .selector, .container #review .otherInfo .mainBody .selector {
          cursor: pointer;
          position: relative; }
          .container #review .otherInfo .newsType .selector input, .container #review .otherInfo .mainBody .selector input {
            cursor: pointer; }
          .container #review .otherInfo .newsType .selector .lists, .container #review .otherInfo .mainBody .selector .lists {
            text-align: center;
            display: none;
            position: absolute;
            top: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: white;
            z-index: 10002; }
            .container #review .otherInfo .newsType .selector .lists.active, .container #review .otherInfo .mainBody .selector .lists.active {
              display: block; }
            .container #review .otherInfo .newsType .selector .lists .item, .container #review .otherInfo .mainBody .selector .lists .item {
              padding: 5px 0;
              cursor: pointer;
              list-style-type: none;
              border-bottom: 1px solid black;
              border-left: 1px solid black;
              border-right: 1px solid black; }
              .container #review .otherInfo .newsType .selector .lists .item:nth-child(odd), .container #review .otherInfo .mainBody .selector .lists .item:nth-child(odd) {
                background-color: #f1f1f1; }
              .container #review .otherInfo .newsType .selector .lists .item:first-child, .container #review .otherInfo .mainBody .selector .lists .item:first-child {
                border-top: 1px solid black; }
      .container #review .otherInfo .mainBody {
        padding-left: 2%; }
    .container #review .article {
      margin-top: 32px; }
    .container #review .buttons {
      margin: 45px 0 167px;
      display: flex;
      flex-flow: row;
      justify-content: space-around; }
      .container #review .buttons .pass, .container #review .buttons .return, .container #review .buttons .submit {
        width: 30.8%;
        text-align: center;
        height: 51px;
        font-size: 18px;
        line-height: 51px;
        border-radius: 5px;
        cursor: pointer; }
      .container #review .buttons .pass, .container #review .buttons .submit {
        background-color: #db4520;
        color: white; }
      .container #review .buttons .return {
        border: 2px solid #db4520;
        color: #db4520; }

/*# sourceMappingURL=BE_review.css.map */
