@import './common/common';


@import './layout/bgFix';
@import './layout/navigator';
@import './layout/footer';

@import './pages/index/Carousel';
@import './pages/index/display';
@import './pages/index/news';
@import './pages/index/Team';
@import './pages/index/Institution';


body{
  height: 100%;

}

#first{
  height: 100%;
}

#navigator{
  height: 15%;
}

#carousel{
  height: 85%;
  .carousel-inner{
    height: 100%;
    .carousel-item{
      height: 100%!important;
    }
  }

}
.d-block{
  height: 100%;
  width: 100%;
}