@import './common/variables';
@import './common/common';

@import './layout/navigator';

@import './components/warning';


.bg_left_top{
	position: absolute;
	left: 0;
	top: $nav-height;
}
.bg_right_bottom{
	position: absolute;
	right: 0;
	bottom: 0;
}
#login{
	::-webkit-input-placeholder {
		color: #ccc;
	}
	:-moz-placeholder {/* Firefox 18- */
		color: #ccc;
	}
	::-moz-placeholder{/* Firefox 19+ */
		color: #ccc;
	}
	:-ms-input-placeholder {
		color: #ccc;
	}
	width: 372px;
	margin: 0 auto;
	margin-top: 145px;
	display: flex;
	flex-flow: column;
	.selector{
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		padding: 20px 0 20px;
		.user, .admin{
			cursor: pointer;
			font-size: 24px;
			color: #989898;
			&.active{
				border-bottom: 2px solid $base-color;
				color: $base-color;
			}
		}
	}
	.input_container{
		display: flex;
		flex-flow: column;
		position: relative;
		.username, .password, .ver_code{
			height: 59px;
			padding: 0 40px 0;
			font-size: 20px;

		}
		.ver_code_img{
			width:105px;
			height: 40px;
			position: absolute;
			bottom: 13px;
			right: 10px; 
			z-index: 9999;
			cursor: pointer;
		}
	}
	.submit{
		cursor: pointer;
		text-align: center;
		width: 100%;
		margin-top: 39px;
		background-color: $base-color;
		padding: 15px 0 15px;
		font-size: 20px;
		color: white;
	}
}