$enroll-width: 1000px;

body {
  width: 100%;
}

h3 {
  margin: 10px auto auto;
  width: 100px;
  font-size: 20px;
  border-bottom: solid red;
  text-align: center;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a:hover {
  color: red;
  cursor: pointer;
}

.enroll-header {
  margin-top: 20px;
}

.weeks {
  margin: auto;
  width: $enroll-width;

}

.weeks > ul {

  text-align: center;
  overflow: hidden;
  background-color: black;
}

.wait-for-choose {
  float: left;
  margin: auto;
  color: white;

  height: 50px;
  line-height: 50px;
  width: 60px;
  padding-left: 50px;
  padding-right: 25px;
  cursor: pointer;
}

.clicked-week {
  background-color: #E24422;
}

.enroll {

  margin: auto;
  width: $enroll-width;
  height: 500px;
  overflow: hidden;
  display: none;

}

.enroll ul {
  float: left;
  position: relative;
  top: -50px;
  left: 485px;
  transform: translateZ(0);
}

.enroll ul:first-child {

  width: 3*$enroll-width;

  height: 500px;
  top: 0;
  left: 0;
}

.enroll li {
  float: left;
  margin-left: 10px;

}

.enroll ul:first-child li {
  margin-left: 0;
  //padding-left: 0;
}

.wait-for-scroll {
  width: $enroll-width;
  height: 500px;

}

.wait-for-scroll img {
  width: $enroll-width;
  height: 500px;
}

.wait-for-scroll .image-content {
  position: relative;
  top: -150px;
  left: 40px;
}

.left, .right {
  cursor: pointer;
  position: relative;
  top: -300px;
}

.left {
  left: -50px;
}

.right {
  left: 800px;
}

.light {
  display: block;
}

.backColor {
  background-color: rgb(255, 0, 0);
}

.quick-news {
  overflow: hidden;
  margin: 20px auto auto;
  width: 1000px;
}

.news-show {
  background-color: rgb(239, 239, 239);
  float: left;
  margin-right: 50px;
  width: 300px;
  height: 450px;
}

.news-show:last-child {
  margin-right: 0;
}

h5 {
  font-size: 20px;
  text-align: center;
  line-height: 10px;
  width: 120px;
  margin: 10px auto auto;
}

.details {
  font-size: 10px;
  text-align: center;
  margin: 5px auto auto;
  width: 100px;
  color: red;
}

.underline {
  margin-top: 10px;
  border-bottom: solid red;
  width: 300px;
}

.quick-news ul {

  margin-left: 5px;

}



.news-show ul li a {
  overflow: hidden;
}

span {
  font-size: 20px;

}

.item {
  float: right;
  font-size: 10px;
  margin-top: 0;
}

.news-show ul li p {
  width: 290px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 30px;
  margin: 0;
}

.news-has-image {
  height: 100px !important;
  font-size: 10px;
  overflow: hidden;
}
.news-show ul li {
  height: 30px;
  margin-top: 5px;
  font-size: 10px;
}
.news-has-image p {
  height: 80px;
  overflow: auto;
  white-space: inherit;
}

.news-show ul li p img {
  height: 80px;
  width: 90px;
  vertical-align: text-bottom;
  float: left;
}

.trend {
  width: 900px;
  margin: 15px auto auto;
  font-size: 10px;

}

h5 span {
  color: red;
  font-size: 35px;
}

.under-line {
  width: 390px;
  border-bottom: solid black;
  margin: 10px auto auto;
}

.first-trend {
  line-height: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.first-trend ul li {
  height: 40px;
  margin-top: 5px;
  overflow: hidden;
}

.first-trend ul li a {
  overflow: hidden;
}

.first-trend ul li p {
  width: 390px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.trend-has-image {
  height: 120px!important;
  overflow: hidden;
}

.trend-has-image p {
  height: 70px!important;
  overflow: auto;
  white-space: inherit;
}

.first-trend img {
  height: 70px;
  width: 80px;
  vertical-align: text-bottom;
  float: left;
}

.left-trend, .right-trend {
  width: 400px;
  height: 400px;
  background-color: #EFEFEF;
}

.left-trend {
  float: left;

}

.right-trend {
  float: right;

}







