*
{
	margin:0;
	padding:0;
}

a:visit
{
	text-decoration: none
}

a:hover
{
	text-decoration: none
}

#body
{
	width:76%;
	margin:10% 0 5% 12%;
	background-color: #f9f9f9;
	box-shadow: 0px 6px 18px 2px 
		rgba(0, 0, 0, 0.1);
}

#goBack
{
	position:absolute;
	top:23%;
	width: 42px;
	height: 42px;
	padding:9px;
	color:#db4520;
	border: 1px solid #db4520;;
}

.container
{
	text-align:center;
	margin-top:8%;
	padding-top:1%;
}

.newsTitle
{
	margin-top:4%;
	font-family: MicrosoftYaHei;
	font-size: 24px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 19px;
	letter-spacing: 1px;
	color: #0b1a23;
}

.author
{
	margin-top:2%;
}

.newsAuthor
{
	margin-right:3%;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 19px;
	letter-spacing: 0px;
	color: #737373;
}

.picAuthor
{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 19px;
	letter-spacing: 0px;
	color: #737373;
}

.newsInformation
{
	margin-top:0.1%;
}

.time
{
	margin-right:2%;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 19px;
	letter-spacing: 0px;
	color: #737373;
}

.clickNumber
{
	margin-right:2%;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 19px;
	letter-spacing: 0px;
	color: #737373;
}

.department
{
	font-family: MicrosoftYaHei;
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	line-height: 19px;
	letter-spacing: 0px;
	color: #737373;
}

.content
{
	padding:5%;
}