<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- <div id='bgFixedImg1'></div> -->
	<nav id="navigator">
		<div class="left">
			<div class="logo_container">
				<img src="../assets/imgs/index/LOGO.png" alt="">
			</div>
			<div class="title_container">
				<div class="school_name">电子科技大学</div>
				<div class="org_name">大学生文化素质教育中心</div>
				<div class="alias_name">(国家大学生文化素质教育基地)</div>
			</div>
		</div>
		<div class="right">
			<div class="exit">退出</div>
		</div>
	</nav>

	<div class="container">
		<div id="sidebar">
			<ul class="lists">
				<li class="item"><a href="./BE_carousel.html">轮播器</a></li>
				<li class="item active"><a href="./BE_articleList.html">稿件审核</a></li>
				<li class="item"><a href="./BE_accountInfo.html">账号信息</a></li>
			</ul>
		</div>	
		
		<div id="articleList">	
			<div class="table_title">
				<div class="item">
					<div class="title">标题</div>
					<div class="contributor">投稿人</div>
					<div class="date">日期</div>
					<div class="status">状态</div>
					<div class="operation">操作</div>
				</div>
			</div>
			<div class="table_body">
<!-- 				<div class="item">
					<div class="title">标题名称</div>
					<div class="contributor">张三</div>
					<div class="date">2018-1-1</div>
					<div class="status">待审</div>
					<div class="operation">审核</div>
				</div>
				<div class="item">
					<div class="title">标题名称</div>
					<div class="contributor">张三</div>
					<div class="date">2018-1-1</div>
					<div class="status">待审</div>
					<div class="operation">审核</div>
				</div>
				<div class="item">
					<div class="title">标题名称</div>
					<div class="contributor">张三</div>
					<div class="date">2018-1-1</div>
					<div class="status">待审</div>
					<div class="operation">审核</div>
				</div> -->
				
			</div>

			<div class="table_selector">
				<span class="prev">&lt;上一页</span>
				<div class="page_selector">
					<span class="switch selected">1</span>
<!-- 					<span class="switch">2</span>
					<span class="switch">3</span>
					<span class="switch">4</span>
					<span class="switch">5</span>
					<span class="switch">6</span>
					<span class="switch">7</span>
					<span class="switch">8</span> -->
				</div>
				<span class="next">下一页&gt;</span>
			</div>
			<div id="warning"></div>
		</div>
		
	</div>		

	<script type="text/javascript" src="../js/lib/jquery-3.3.1.min.js"></script>
</body>
</html>