<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- <div id='bgFixedImg1'></div> -->
	<nav id="navigator">
		<div class="left">
			<div class="logo_container">
				<img src="../assets/imgs/index/LOGO.png" alt="">
			</div>
			<div class="title_container">
				<div class="school_name">电子科技大学</div>
				<div class="org_name">大学生文化素质教育中心</div>
				<div class="alias_name">(国家大学生文化素质教育基地)</div>
			</div>
		</div>
		<div class="right">
			<div class="exit">退出</div>
		</div>
	</nav>

	<div class="container">
		<div id="sidebar">
			<ul class="lists">
				<li class="item"><a href="./BE_carousel.html">轮播器</a></li>
				<li class="item"><a href="./BE_articleList.html">稿件审核</a></li>
				<li class="item active"><a href="./BE_accountInfo.html">账号信息</a></li>
			</ul>
		</div>	

		<div id="accountInfo">
			<div class="panel">
				<div class="old_password">
					<input type="text" placeholder="请输入原密码">
				</div>
				<div class="new_password">
					<input type="text" placeholder="请输入新密码">
				</div>
				<div class="new_password">
					<input type="text" placeholder="请再次输入新密码">
				</div>
				<div class="botton">
					<div class="submit">确认申请</div>
				</div>
			</div>

			<div id="warning"></div>
		</div>
	</div>		
	<script type="text/javascript" src="../js/lib/jquery-3.3.1.min.js"></script>

</body>
</html>