<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- <div id='bgFixedImg1'></div> -->
	<nav id="navigator">
		<div class="left">
			<div class="logo_container">
				<img src="../assets/imgs/index/LOGO.png" alt="">
			</div>
			<div class="title_container">
				<div class="school_name">电子科技大学</div>
				<div class="org_name">大学生文化素质教育中心</div>
				<div class="alias_name">(国家大学生文化素质教育基地)</div>
			</div>
		</div>
		<div class="right">
			<div class="exit">退出</div>
		</div>
	</nav>

	<div class="container">
		<div class="upload_button">
			<img src="../assets/imgs/BE_carousel/plus.png" id="plus_icon">
			<input type="file" class="fileReader">
			<img src="../assets/imgs/BE_carousel/upload.png" id="upload_icon">
		</div>	

		<div id="sidebar">
			<ul class="lists">
				<li class="item active"><a href="./BE_carousel.html">轮播器</a></li>
				<li class="item"><a href="./BE_articleList.html">稿件审核</a></li>
				<li class="item"><a href="./BE_accountInfo.html">账号信息</a></li>
				<li class="item"><a href="./BE_homeNews.html">首页新闻</a> </li>
				<li class="item"><a href="BE_active.html">活动预告</a> </li>
			</ul>
		</div>			
		<div id="carousel_setting">
		<!-- 	<div class="item">
				<div class="thumbnail">
					<img src="../assets/imgs/index/1.jpg" alt="">
					<ul class="lists">
						<li class="img_list"><img src="" alt=""></li>
					</ul>
				</div>
				<div class="right">
					<div class="thumbnail_url">
						<span class="link">链接：</span>
						<span class="input" contenteditable="true"></span>
					</div>
					<div class="bottom">
						<div class="submit">确定变更</div>
					</div>
				</div>
			</div> -->
		</div>

		<div id="warning"></div>
	</div>
	<script type="text/javascript" src="../js/lib/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../js/lib/jquery-mousewheel-3.1.12/jquery.mousewheel.min.js"></script>
	<!-- <script src="../js/lib/jQuery-File-Upload-9.21.0/js/vendor/jquery.ui.widget.js"></script> -->
	<!-- <script type="text/javascript" src="../js/lib/jQuery-File-Upload-9.21.0/js/main.js"></script> -->
	<!-- <script src="../js/lib/jQuery-File-Upload-9.21.0/js/jquery.iframe-transport.js"></script> -->
	<!-- <script src="../js/lib/jQuery-File-Upload-9.21.0/js/jquery.fileupload.js"></script> -->
	<!-- <script type="text/javascript" src="../js/lib/jQuery-File-Upload-9.21.0/js/jquery.fileupload-image.js"></script> -->
</body>
</html>