<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

</head>
<body>
<img src="../assets/imgs/login/left_top.png" alt="" class="bg_left_top">
<img src="../assets/imgs/login/right-bottom.png" alt="" class="bg_right_bottom">
<nav id="navigator">
    <div class="left">
        <div class="logo_container">
            <img src="../assets/imgs/index/LOGO.png" alt="">
        </div>
        <div class="title_container">
            <div class="school_name">电子科技大学</div>
            <div class="org_name">大学生文化素质教育中心</div>
            <div class="alias_name">(国家大学生文化素质教育基地)</div>
        </div>
    </div>
    <div class="right">
        <div class="exit">退出</div>
    </div>
</nav>

<div id="login">
    <div class="selector">
        <div class="user active">投稿人</div>
        <div class="admin">管理员</div>
    </div>
    <div class="input_container">
        <input type="text" class="username" placeholder="用户名">
        <input type="password" class="password" placeholder="密码">
        <input type="text" class="ver_code" placeholder="验证码">
        <img class="ver_code_img">
    </div>
    <div class="submit">
        登录
    </div>
</div>

<div id="warning"></div>

<script src="../js/lib/jquery-3.3.1.min.js"></script>
</body>
</html>