<!DOCTYPE html>
<html>
<head>
    <title>test</title>
    <meta charset="utf-8">
    <script type="text/javascript" src="../js/lib/vue.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--<link rel="stylesheet"   href="style.css">-->
</head>
<body>
<div id="com">
    <v-tab-nav></v-tab-nav>
    <v-side-bar v-bind:side="indexSideBar"></v-side-bar>
    <v-page-content v-bind:side="indexSideBar" v-bind:content="indexContent" v-bind:number="pageNumber"></v-page-content>
    <v-page-list v-bind:side="indexSideBar" v-bind:content="indexContent"></v-page-list>

</div>



</body>
</html>