<!DOCTYPE html>
<html>
<head>
    <title>news</title>
    <meta charset="UTF-8">
</head>
<body>
    <h3>精 彩 预 告</h3>
    <div class="enroll-header">
        <div class="weeks">
            <ul>
                <li class="wait-for-choose clicked-week">周日</li>
                <li class="wait-for-choose">周一</li>
                <li class="wait-for-choose">周二</li>
                <li class="wait-for-choose">周三</li>
                <li class="wait-for-choose">周四</li>
                <li class="wait-for-choose">周五</li>
                <li class="wait-for-choose">周六</li>
            </ul>
        </div>


        <div></div>
        <div class="enroll light">
            <ul>
                <li>
                    <div class="wait-for-scroll">
                        <img src="../assets/imgs/newsPage/news.jpg" alt="first image">
                        <div class="image-content">
                            <h4 class="image-title">bitch</h4>
                            <p>title</p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="second image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="third image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="pages">
                <li value="0">
                    <canvas class="backColor" width="20px" height="10px"></canvas>
                </li>

                <li value="1">
                    <canvas width="20px" height="10px"></canvas>
                </li>

                <li value="2">
                    <canvas width="20px" height="10px"></canvas>
                </li>
            </ul>

            <canvas class="left" width="50px" height="100px" type="button"></canvas>
            <canvas class="right"  width="50px" height="100px" type="button"></canvas>
        </div>



        <div class="enroll">
            <ul>
                <li>
                    <div class="wait-for-scroll">
                        <img src="../assets/imgs/newsPage/no1.jpg" alt="first image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="second image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="third image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="pages">
                <li value="0">
                    <canvas class="backColor" width="20px" height="10px"></canvas>
                </li>

                <li value="1">
                    <canvas width="20px" height="10px"></canvas>
                </li>

                <li value="2">
                    <canvas width="20px" height="10px"></canvas>
                </li>
            </ul>

            <canvas class="left" width="50px" height="100px" type="button"></canvas>
            <canvas class="right"  width="50px" height="100px" type="button"></canvas>
        </div>



        <div class="enroll">
            <ul>
                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="first image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="second image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="third image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="pages">
                <li value="0">
                    <canvas class="backColor" width="20px" height="10px"></canvas>
                </li>

                <li value="1">
                    <canvas width="20px" height="10px"></canvas>
                </li>

                <li value="2">
                    <canvas width="20px" height="10px"></canvas>
                </li>
            </ul>

            <canvas class="left" width="50px" height="100px" type="button"></canvas>
            <canvas class="right"  width="50px" height="100px" type="button"></canvas>
        </div>



        <div class="enroll">
            <ul>
                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="first image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="second image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="third image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="pages">
                <li value="0">
                    <canvas class="backColor" width="20px" height="10px"></canvas>
                </li>

                <li value="1">
                    <canvas width="20px" height="10px"></canvas>
                </li>

                <li value="2">
                    <canvas width="20px" height="10px"></canvas>
                </li>
            </ul>

            <canvas class="left" width="50px" height="100px" type="button"></canvas>
            <canvas class="right"  width="50px" height="100px" type="button"></canvas>
        </div>



        <div class="enroll">
            <ul>
                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="first image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="second image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="third image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="pages">
                <li value="0">
                    <canvas class="backColor" width="20px" height="10px"></canvas>
                </li>

                <li value="1">
                    <canvas width="20px" height="10px"></canvas>
                </li>

                <li value="2">
                    <canvas width="20px" height="10px"></canvas>
                </li>
            </ul>

            <canvas class="left" width="50px" height="100px" type="button"></canvas>
            <canvas class="right"  width="50px" height="100px" type="button"></canvas>
        </div>



        <div class="enroll">
            <ul>
                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="first image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="second image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="third image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="pages">
                <li value="0">
                    <canvas class="backColor" width="20px" height="10px"></canvas>
                </li>

                <li value="1">
                    <canvas width="20px" height="10px"></canvas>
                </li>

                <li value="2">
                    <canvas width="20px" height="10px"></canvas>
                </li>
            </ul>

            <canvas class="left" width="50px" height="100px" type="button"></canvas>
            <canvas class="right"  width="50px" height="100px" type="button"></canvas>
        </div>


        <div class="enroll">
            <ul>
                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="first image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="second image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="wait-for-scroll">
                        <img src="" alt="third image">
                        <div class="image-content">
                            <h4 class="image-title"></h4>
                            <p></p>
                        </div>
                    </div>
                </li>
            </ul>

            <ul class="pages">
                <li value="0">
                    <canvas class="backColor" width="20px" height="10px"></canvas>
                </li>

                <li value="1">
                    <canvas width="20px" height="10px"></canvas>
                </li>

                <li value="2">
                    <canvas width="20px" height="10px"></canvas>
                </li>
            </ul>

            <canvas class="left" width="50px" height="100px" type="button"></canvas>
            <canvas class="right"  width="50px" height="100px" type="button"></canvas>
        </div>



    </div>




    <h3>速  报</h3>


    <div class="quick-news">

        <div class="news-show">
            <h5><a>新闻公示</a></h5>
            <p class="details">news</p>
            <div class="underline"></div>


            <ul>
                <li class="news-has-image">
                    <a>
                        <p>
                            <img src="../assets/imgs/newsPage/no1.jpg">

                        </p>
                        <span class="item"></span>
                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【新闻公示】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【新闻公示】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【新闻公示】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【新闻公示】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【新闻公示】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【新闻公示】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【新闻公示】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【新闻公示】</span>   <span class="item"></span></p>

                    </a>
                </li>
            </ul>
        </div>


        <div class="news-show">
            <h5><a>精彩回顾</a></h5>
            <p class="details">review</p>
            <div class="underline"></div>


            <ul>
                <li class="news-has-image">
                    <a>

                        <p>
                            <img src="">
                        </p>
                        <span class="item"></span>
                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【精彩回顾】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【精彩回顾】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【精彩回顾】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【精彩回顾】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【精彩回顾】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【精彩回顾】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【精彩回顾】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【精彩回顾】</span>   <span class="item"></span></p>

                    </a>
                </li>
            </ul>
        </div>



        <div class="news-show">
            <h5><a>活动预告</a></h5>
            <p class="details">foreshow</p>
            <div class="underline"></div>


            <ul>
                <li class="news-has-image">
                    <a>

                        <p>
                            <img src="">
                        </p>
                        <span class="item"></span>
                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【活动预告】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【活动预告】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【活动预告】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【活动预告】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【活动预告】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【活动预告】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【活动预告】</span>   <span class="item"></span></p>

                    </a>
                </li>

                <li>
                    <a>

                        <p><span>【活动预告】</span>   <span class="item"></span></p>

                    </a>
                </li>
            </ul>
        </div>

    </div>


    <h3>动态</h3>

    <div class="trend">



        <div class="first-trend">


            <div class="left-trend">
                <h5><a><span>| </span>  成电辩坛</a></h5>
                <div class="under-line"></div>

                <ul>
                    <li class="trend-has-image">
                        <a>
                            <p>
                                <img src="">
                            </p>
                            <span class="item"></span>
                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电辩坛】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电辩坛】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电辩坛】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电辩坛】</span>   <span class="item"></span></p>

                        </a>
                    </li>
                </ul>
            </div>

            <div class="right-trend">

                <h5><a><span>| </span>  成电舞台</a></h5>
                <div class="under-line"></div>

                <ul>
                    <li class="trend-has-image">

                        <a>
                            <p>
                                <img src="">
                            </p>
                            <span class="item"></span>
                        </a>

                    </li>

                    <li>
                        <a>

                            <p><span>【成电舞台】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电舞台】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电舞台】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电舞台】</span>   <span class="item"></span></p>

                        </a>
                    </li>
                </ul>
            </div>


        </div>


        <div class="first-trend">

            <div class="left-trend">
                <h5><a><span>| </span>  成电故事</a></h5>
                <div class="under-line"></div>

                <ul>
                    <li class="trend-has-image">

                        <a>
                            <p>
                                <img src="">
                            </p>
                            <span class="item"></span>
                        </a>

                    </li>

                    <li>
                        <a>

                            <p><span>【成电故事】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电故事】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电故事】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电故事】</span>   <span class="item"></span></p>

                        </a>
                    </li>
                </ul>
            </div>

            <div class="right-trend">
                <h5><a><span>| </span>  成电影院</a></h5>
                <div class="under-line"></div>

                <ul>
                    <li class="trend-has-image">

                        <a>
                            <p>
                                <img src="">
                            </p>
                            <span class="item"></span>
                        </a>

                    </li>

                    <li>
                        <a>

                            <p><span>【成电影院】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电影院】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电影院】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电影院】</span>   <span class="item"></span></p>

                        </a>
                    </li>
                </ul>

            </div>

        </div>


        <div class="first-trend">

            <div class="left-trend">
                <h5><a><span>| </span>  成电栋梁</a></h5>
                <div class="under-line"></div>

                <ul>
                    <li class="trend-has-image">

                        <a>
                            <p>
                                <img src="">
                            </p>
                            <span class="item"></span>
                        </a>

                    </li>

                    <li>
                        <a>

                            <p><span>【成电栋梁】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电栋梁】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电栋梁】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电栋梁】</span>   <span class="item"></span></p>

                        </a>
                    </li>
                </ul>
            </div>

            <div class="right-trend">
                <h5><a><span>| </span>  成电讲台</a></h5>
                <div class="under-line"></div>

                <ul>
                    <li class="trend-has-image">

                        <a>
                            <p>
                                <img src="">
                            </p>
                            <span class="item"></span>
                        </a>

                    </li>

                    <li>
                        <a>

                            <p><span>【成电讲台】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电讲台】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电讲台】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电讲台】</span>   <span class="item"></span></p>

                        </a>
                    </li>
                </ul>

            </div>

        </div>



        <div class="first-trend">

            <div class="left-trend">
                <h5><a><span>| </span>  成电百家</a></h5>
                <div class="under-line"></div>

                <ul>
                    <li class="trend-has-image">

                        <a>
                            <p>
                                <img src="">
                            </p>
                            <span class="item"></span>
                        </a>

                    </li>

                    <li>
                        <a>

                            <p><span>【成电百家】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电百家】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电百家】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【成电百家】</span>   <span class="item"></span></p>

                        </a>
                    </li>
                </ul>
            </div>

            <div class="right-trend">
                <h5><a><span>| </span>  其他新闻</a></h5>
                <div class="under-line"></div>

                <ul>
                    <li class="trend-has-image">

                        <a>
                            <p>
                                <img src="">
                            </p>
                            <span class="item"></span>
                        </a>

                    </li>

                    <li>
                        <a>

                            <p><span>【其他新闻】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【其他新闻】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【其他新闻】</span>   <span class="item"></span></p>

                        </a>
                    </li>

                    <li>
                        <a>

                            <p><span>【其他新闻】</span>   <span class="item"></span></p>

                        </a>
                    </li>
                </ul>

            </div>

        </div>



    </div>

    <div>

    </div>
    <script src="../js/lib/jquery-3.3.1.min.js"></script>
</body>
</html>
