<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>新闻</title>
</head>
<body>

<div id="news-content">

    <v-title v-bind:article="article"></v-title>
    <v-content v-bind:article="article"></v-content>

    <div id="list">


        <div id="right">
            <div class="logo">
                <img src="../assets/imgs/index/LOGO.png" alt="">
            </div>
            <div class="title">
                <div class="school-name">电子科技大学</div>
                <div class="org-name">大学生文化素质教育中心</div>
                <div class="alias-name">(国家大学生文化素质教育基地)</div>
            </div>

        </div>
        <v-type></v-type>
    </div>

</div>

<script src="../js/lib/vue.js"></script>
<script src="../js/lib/jquery-3.3.1.min.js"></script>
</body>
</html>