<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="content">
    <div id="title">

        <div class="title">
            下属办公室全称
        </div>
    </div>
    <office-content></office-content>
    <div id="address">
        <div class="address">办 公 地 点</div>
        <div class="detail">清水河校区活动中心301</div>
    </div>

    <div id="connect">
        <div class="connect">联系方式</div>
        <div class="name">老师姓名<span>|</span></div>

        <div class="tel">666-66666</div>
    </div>
</div>

<script src="../js/lib/vue.js"></script>

</body>
</html>