<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- <div id='bgFixedImg1'></div> -->
	<nav id="navigator">
		<div class="left">
			<div class="logo_container">
				<img src="../assets/imgs/index/LOGO.png" alt="">
			</div>
			<div class="title_container">
				<div class="school_name">电子科技大学</div>
				<div class="org_name">大学生文化素质教育中心</div>
				<div class="alias_name">(国家大学生文化素质教育基地)</div>
			</div>
		</div>
		<div class="right">
			<ul class="nav">
				<li class="nav_item"><a href="./index.html">首页</a></li>
				<li class="nav_item"><a href="./Team.html" class="active">机构</a>
					<ul class="lists">
						<li><a href="#">行政人员</a></li>
						<li><a href="#">内设</a></li>
						<li><a href="#">团队</a></li>
					</ul>
				</li>
				<li class="nav_item"><a href="#">新闻</a></li>
				<li class="nav_item"><a href="#">文化教育</a>
					<ul class="lists">
						<li><a href="#">艺术教育</a></li>
						<li><a href="#">领导力教育</a></li>
					</ul>
				</li>
				<li class="nav_item"><a href="./mediaLib.html">媒体库</a></li>
				<li class="nav_item"><a href="#">关于我们</a></li>
			</ul>
		</div>
	</nav>
	
	<div id="block1">
		<header class="title_container">
			<h3 class="title">类别名称</h3>
			<h3 class="sub_title">Team</h3>
			<div class="line"></div>
		</header>
		<div class="content">
			<div class="item one">
				<img src="../assets/imgs/index/7.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
			<div class="item two">
				<img src="../assets/imgs/index/8.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
			<div class="item three">
				<img src="../assets/imgs/index/9.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="block2">
		<header class="title_container">
			<h3 class="title">类别名称</h3>
			<h3 class="sub_title">Team</h3>
			<div class="line"></div>
		</header>
		<div class="content">
			<div class="item one">
				<img src="../assets/imgs/index/7.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
			<div class="item two">
				<img src="../assets/imgs/index/8.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
			<div class="item three">
				<img src="../assets/imgs/index/9.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="item one">
				<img src="../assets/imgs/index/7.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
			<div class="item two">
				<img src="../assets/imgs/index/8.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
			<div class="item three">
				<img src="../assets/imgs/index/9.jpg" alt="">
				<div class="article_container">
					<div class="title">电子科技大学合唱队</div>
					<div class="time">From 1998</div>
					<div class="intro">
						电子科大合唱团成立于1998年，现有团员80余人，由来自各个学院的本科生和研究生组成，合唱团以“传承艺术，弘扬高雅文化”为宗旨立足校园
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="footer">
		<div class="left">
			<div class="top">
				<span class="line">中国政府网</span>
				<span class="line">教育部</span>
				<span class="line">工业和信息化部</span>
				<span class="line">四川省教育厅</span>
				<span>中国大学生在线</span>
			</div>
			<div class="bottom">
				<div class="qingshui">清水河校区：成都市高新区（西区）西源大道2006号 <span class="postcode">邮编：611731</span></div>
				<div class="shahe">
					沙河校区：成都市建设北路二段四号 <span class="postcode">邮编：610054</span>
				</div>
				<div>蜀ICP备 05006379号 <span class="line">|</span> 川公安网安备 51019002000280 号</div>
			</div>
		</div>
		<div class="right">
			<img src="../assets/imgs/index/verCode.png" alt="" class="vercode">
			<img src="../assets/imgs/index/verCode.png" alt="" class="vercode">
		</div>
	</div>
	<!-- <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
</body>
</html>