#carousel {
    .opacity{
        width: 100%;
        height: 150px;
        position: relative;
        margin-top: -150px;
        background-color: rgba(0,0,0,0.3);
    }
    //.d-block{
    //    height: 50%;
    //    width: 100%;
    //}
    .carousel-inner{
        transform: translateZ(0);
    }
    .org{
        font-family: titlefont;
        font-size: 32px;
        color: #fff;
    }
    .school, .sub_org{
        font-family: titlefont;
        font-size: 22px;
        color: #fff;
    }
    .carousel-control-prev-icon {
        background-image: url("../assets/imgs/index/carousel_left.png") !important;
        height: 55px;
        width: 28px;
    }

    .carousel-control-next-icon {
        background-image: url("../assets/imgs/index/carousel_right.png") !important;
        height: 55px;
        width: 28px;
    }
    .carousel-indicators{
        cursor: pointer;
    }

    .carousel-caption{
        bottom: 10%;
        //left: -50%;
        transform: translateY(50%);
        margin: auto;
    }
    //.d-block{
    //    width: 100%;
    //    height: 50%;
    //}
}