#institution {
  @import "../../components/header";
  position: relative;
  overflow: hidden;
  //height: 100%;
  // background-size: 100% 100%;
  // background-attachment: fixed;
  // background-repeat: no-repeat;

  // &::before{
  // 	content:'';
  // 	position: fixed;
  // 	width: 100%;
  // 	height: 100%;
  // 	left: 0;
  // 	top: 0;
  // 	z-index: -2;
  // 	will-change: transform;
  // 	background-color: white;
  // 	background-image: url('../assets/imgs/index/bg_fixed_down.jpg');
  // 	background-size: cover;
  // }
  .content {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-bottom: 160px;
    .thumbnail_container {
      cursor: pointer;
      overflow: hidden;
      width: 34%;
      .thumbnail {
        position: relative;
        top: 50%;
        left: 50%;
        max-width: 744px;
        max-height: 400px;
        transform: scale(1, 1)
        translate(-50%, -50%);
        transition: transform 0.2s ease-out;
        &:hover {
          transform: scale(1.05, 1.05)
        translate(-50%, -50%);
        }
      }

    }
    .article {
      width: 40%;
      max-width: 744px;
      max-height: 400px;
      background-color: #f3f3f3;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 80px 60px;
      .title {
        font-size: 24px;
        color: #0b1a23;
      }
      .detail {
        font-size: 16px;
        color: #324d5c;
        margin-top: 35px;
      }
    }
  }

  @import "../../components/index-readmore";

}