*
{
	margin:0;
	padding:0;
}

#main
{
	text-align:center;
	overflow:hidden;
	margin-bottom:5%;
}

#contain
{
	margin-bottom:1%;
	overflow:hidden;
	.container
	{
		display:inline-block;
		position:relative;
		width:370px;
		height:746px;
		margin:1% 1% auto;
		background-color: #f9f9f9;
		box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.1);
	}

	.picture
	{
		height:56%;
		margin:3% auto;
		background-color: #eeeeee;
		border: solid 1px #6e6c69
	}

	.contentContainer
	{
		padding-top:5%;
	}

	.name
	{
		font-family: AdobeHeitiStd-Regular;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		line-height: 19px;
		letter-spacing: 1px;
		color: #000000;
	}

	.content
	{
		text-align:left;
		margin-top:25px;
		font-family: AdobeHeitiStd-Regular;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		line-height: 19px;
		letter-spacing: 1px;
		color: #000000;
	}
}

#container
{
	.container
	{
		display:inline-block;
		position:relative;
		width:370px;
		height:746px;
		margin:1% 1% auto;
		background-color: #f9f9f9;
		box-shadow: 0px 6px 18px 2px rgba(0, 0, 0, 0.1);
	}

	.picture
	{
		height:56%;
		margin:3% auto;
		background-color: #eeeeee;
		border: solid 1px #6e6c69
	}

	.contentContainer
	{
		padding-top:5%;
	}

	.name
	{
		font-family: AdobeHeitiStd-Regular;
		font-size: 18px;
		font-weight: normal;
		font-stretch: normal;
		line-height: 19px;
		letter-spacing: 1px;
		color: #000000;
	}

	.content
	{
		text-align:left;
		margin-top:25px;
		font-family: AdobeHeitiStd-Regular;
		font-size: 14px;
		font-weight: normal;
		font-stretch: normal;
		line-height: 19px;
		letter-spacing: 1px;
		color: #000000;
	}
}

.readmore_button
{
	text-align: center;
	cursor: pointer;
	
	position:absolute;
	left:25%;
	bottom:20px;

	background-color: $base-color;
	width: 180px;
	height: 37px;
	line-height: 37px;
	border-radius: 50px;
	color: #fff;
	font-size: 14px;
	border: 1px solid rgba(0,0,0,0);

	transition: color 0.5s,
	background-color 0.5s,
	border 0.5s;
	.line
	{
		padding: 0 10px 0;
	}
	&:hover
	{
		border: 1px solid  $base-color;
		color: $base-color;
		background-color: rgba(0,0,0,0);
	}
}